

body {
    /* a4 page size

        Standard ISO A4 paper dimensions are:
            210mm x 297mm
            8.27" x 11.69"
        Equivalent A4 paper dimensions in pixels at 300 DPI and 72 DPI respectively are:

            2480 pixels x 3508 pixels (print resolution)
            595 pixels x 842 pixels (screen resolution)
        https://www.graphic-design-employment.com/
    *

    height: 1275px; 
    width: 935px;
    /* border: 1px solid blue; */
  /* background-color: blueviolet; */
  /* color:#ff0000;*/
 
 margin: 50px 0px 0px 0px;
    
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgb(231, 6, 6);
    outline: 1px solid slategrey;
  }


  #text_edit_container::-webkit-scrollbar {
    width: 1em;
  }
   
  #text_edit_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  #text_edit_container::-webkit-scrollbar-thumb {
    background-color: rgb(231, 6, 6);
    outline: 1px solid slategrey;
  }
  
  #component_select_container::-webkit-scrollbar {
    width: 1em;
  }
   
  #component_select_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  #component_select_container::-webkit-scrollbar-thumb {
    background-color: rgb(231, 6, 6);
    outline: 1px solid slategrey;
  }



#body_or_print_area {
    margin: auto;
    min-height: 1210px; 
    height: auto;
    width: 935px;
    box-shadow: 3px 3px 5px 6px #ccc;

}