<!DOCTYPE html>
<html>
    <head>
        <title>iCafe cv maker</title>
        <meta name="description" content="Cv/Resume maker">
        <link id="favicon" rel="icon" href="" type="image/x-icon">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- import the wzebpage's stylesheet -->
        <link rel="stylesheet" href="site/font_base_64_converted.css"> 
        <link rel="stylesheet" href="site/line-awesome/css/line-awesome.css"> <!-- lineawesome css -->
        <link rel="stylesheet" href="site/bootstrap.min.css"> <!-- bootstratp css -->
        <link rel="stylesheet" href="site/w3.css"> <!-- w3c styles css framework-->
        <link rel="stylesheet" href="site/index.css"> <!-- css -->

    </head>
    <body onload="options_menu()">

        <section id='body_or_print_area'><!-- body/print area -->

            <!-- print button -->
            <button onclick="page_menu_contents()" style="position: absolute; top: 30px; left:30px;" class='btn btn-primary' id="cv_resume_1_print_button">Menu/Options</button>


            <!-- ---------- components select ---------- -->

            <!-- icon elements -->
            <div id='icon_select_container' class='w3-card w3-border w3-white' style='width: 650px; height:500px; position: fixed;top:7vh;left:9%;display: none;'>
                <div style="width: 630px;display: flex-box;margin: auto;" class='w3-margin' id="icon_select_box">
                    <button class="btn btn-primary" onclick="document.getElementById(selected_div).innerHTML = '';show_hide('icon_select_container');">No icon</button>
                    <i class="la la-plus-circle" style="font-size: 32px;" onclick="icons_div_add(0)" class="w3-margin"></i>
                    <i class="la la-angle-right" style="font-size: 32px;" onclick="icons_div_add(1)" class="w3-margin"></i>
                    <i class="la la-arrow-right" style="font-size: 32px;" onclick="icons_div_add(2)" class="w3-margin"></i>
                    <i class="la la-chevron-right" style="font-size: 32px;" onclick="icons_div_add(3)" class="w3-margin"></i>
                    <i class="la la-play" style="font-size: 32px;" onclick="icons_div_add(4)" class="w3-margin"></i>
                    <i class="la la-stop" style="font-size: 32px;" onclick="icons_div_add(5)" class="w3-margin"></i>
                    <i class="la la-youtube" style="font-size: 32px;" onclick="icons_div_add(6)" class="w3-margin"></i>
                    <i class="la la-ambulance" style="font-size: 32px;" onclick="icons_div_add(7)" class="w3-margin"></i>
                    <i class="la la-bus" style="font-size: 32px;" onclick="icons_div_add(8)" class="w3-margin"></i>
                    <i class="la la-car" style="font-size: 32px;" onclick="icons_div_add(9)" class="w3-margin"></i>
                    <i class="la la-motorcycle" style="font-size: 32px;" onclick="icons_div_add(10)" class="w3-margin"></i>
                    <i class="la la-taxi" style="font-size: 32px;" onclick="icons_div_add(11)" class="w3-margin"></i>
                    <i class="la la-truck" style="font-size: 32px;" onclick="icons_div_add(12)" class="w3-margin"></i>
                    <i class="la la-university" style="font-size: 32px;" onclick= "icons_div_add(13)" class="w3-margin"></i>
                    <i class="la la-industry" style="font-size: 32px;" onclick="icons_div_add(14)" class="w3-margin"></i>
                    <i class="la la-phone" style="font-size: 32px;" onclick="icons_div_add(15)" class="w3-margin"></i>
                    <i class="la la-at" style="font-size: 32px;" onclick="icons_div_add(16)" class="w3-margin"></i>
                    <i class="la la-comment" style="font-size: 32px;" onclick="icons_div_add(17)" class="w3-margin"></i>
                    <i class="la la-language" style="font-size: 32px;" onclick="icons_div_add(18)" class="w3-margin"></i>
                    <i class="la la-paper-plane" style="font-size: 32px;" onclick="icons_div_add(19)" class="w3-margin"></i>
                    <i class="la la-desktop" style="font-size: 32px;" onclick="icons_div_add(20)" class="w3-margin"></i>
                    <i class="la la-laptop" style="font-size: 32px;" onclick="icons_div_add(21)" class="w3-margin"></i>
                    <i class="la la-mobile" style="font-size: 32px;" onclick="icons_div_add(22)" class="w3-margin"></i>
                    <i class="la la-wrench" style="font-size: 32px;" onclick="icons_div_add(23)" class="w3-margin"></i>
                    <i class="la la-calendar" style="font-size: 32px;" onclick="icons_div_add(24)" class="w3-margin"></i>
                    <i class="la la-hourglass-end" style="font-size: 32px;" onclick="icons_div_add(25)" class="w3-margin"></i>
                    <i class="la la-clone" style="font-size: 32px;" onclick="icons_div_add(26)" class="w3-margin"></i>
                    <i class="la la-graduation-cap" style="font-size: 32px;" onclick="icons_div_add(27)" class="w3-margin"></i>
                    <i class="la la-book" style="font-size: 32px;" onclick="icons_div_add(28)" class="w3-margin"></i>
                    <i class="la la-mars" style="font-size: 32px;" onclick="icons_div_add(29)" class="w3-margin"></i>
                    <i class="la la-venus" style="font-size: 32px;" onclick="icons_div_add(30)" class="w3-margin"></i>
            
                </div>
            </div>

            <!-- text element select -->
            <div id='component_select_container' class='w3-card w3-border w3-white' style='width: 650px; max-height:80vh; position: fixed;left:0; right:0; margin:0 auto;overflow-y: auto;display: none;'>
                <div style="width: 630px;display: flex;margin: auto;" class=''>
                    <span style="width: 80%;height: auto;display: flex;"class='form-control w3-margin' ><b style="text-align: center;width: 100%;">My CV</b></span><button style="width: 15%;height:auto;" class='btn btn-primary w3-margin'id="component_1" onclick="show_hide('component_select_container');component_add(this.id)">Select</button>
                </div>
                <div style="width: 630px;display: flex;margin: auto;" class=''>
                    <span style="width: 80%;height: auto;display: flex;" class='form-control w3-margin' ><p style="text-align: center;width: 100%; margin: 0px;">My CV</p></span><button style="width: 15%;height:auto;" class='btn btn-primary w3-margin' id="component_2" onclick="show_hide('component_select_container');component_add(this.id)">Select</button>
                </div>
                <div style="width: 630px;display: flex;margin: auto;" class=''>
                    <span style="width: 80%;height: auto;display: flex;color:white" class='form-control w3-margin w3-black' ><b style="text-align: center;width: 100%;">My CV</b></span><button style="width: 15%;height:auto;" class='btn btn-primary w3-margin' id="component_3" onclick="show_hide('component_select_container');component_add(this.id)">Select</button>
                </div>
                <div style="width: 630px;display: flex; margin: auto;" class=''>
                    <span style="width: 80%;height: auto;display: flex;"class='form-control w3-margin' ><b >Name : myName</b></span><button style="width: 15%;height:auto;" class='btn btn-primary w3-margin' id="component_4" onclick="show_hide('component_select_container');component_add(this.id)">Select</button>
                </div>
                <div style="width: 630px;display: flex; margin: auto;" class=''>
                    <span style="width: 80%;height: auto;display: flex;"class='form-control w3-margin' >Name : myName</span><button style="width: 15%;height:auto;" class='btn btn-primary w3-margin' id="component_5" onclick="show_hide('component_select_container');component_add(this.id)">Select</button>
                </div>
                <div style="width: 630px;display: flex;margin: auto;" class=''>
                    <span style="width: 80%;height: auto;display: flex;" class='form-control w3-margin' ><p style="text-align:left;width: 100%; margin: 0px;">Click here</p></span><button style="width: 15%;height:auto;" class='btn btn-primary w3-margin' id="component_6" onclick="show_hide('component_select_container');component_add(this.id)">Select</button>
                </div>
                <div style="width: 630px;display: flex;margin: auto;" class=''>
                    <span style="width: 80%;height: auto;display: flex;" class='form-control w3-margin' ><p style="text-align:left;width: 100%; margin: 0px;font-weight: bold;">Click here</p></span><button style="width: 15%;height:auto;" class='btn btn-primary w3-margin' id="component_7" onclick="show_hide('component_select_container');component_add(this.id)">Select</button>
                </div>
                <div style="width: 630px;display: flex; margin: auto;" class=''>
                    <span style="width: 80%;height: 20px;display: flex; border-bottom: 2px solid #000;" class='w3-margin' ></span><button style="width: 15%;height:auto;" class='btn btn-primary w3-margin' id="component_8" onclick="show_hide('component_select_container');component_add(this.id)">Select</button>
                </div>
                <div style="width: 630px;display: flex; margin: auto;" class=''>
                    <span style="width: 80%;height: auto;display: flex;"class='btn btn-default w3-margin' >Empty space</span><button style="width: 15%;height:auto;" class='btn btn-primary w3-margin' id="component_9" onclick="show_hide('component_select_container');component_add(this.id)">Select</button>
                </div>


            </div>


            <!-- ------- text edit box -------- -->
            <div id='text_edit_container' class='w3-card w3-border w3-white' style='width: 650px; max-height:90vh; position: fixed;left:0; right:0; margin:0 auto;overflow-y: auto;display: none;'>

                <!-- close button -->
                <button onclick="show_hide('text_edit_container')" class="btn btn-success w3-margin" style="width: 10%;height: auto; float:right"><i class='la la-close' style="width: auto;text-align: center;"></i></button>

                <div style="width: 630px;display: flex-box;margin: auto;" class='w3-margin' id="text_edit_box">

                    <textarea id='text_edit_box_textarea' onclick=" (this.value.trim()=='Click here')?this.value='':'' " style="width: 97%;min-height: 50px;" ></textarea>
                    
                    <div style="width: auto;height: auto;margin: 0px; display:flex;">

                        <span style="margin: 0px; width:47%; height: auto;display: flexbox;">

                            <p>Text size</p>
                            <input type="number" id="text_edit_box_text_size" class='form-control w3-margin' style="width: 93%;">

                        </span>

                        <span style="margin: 0px; width:47%; height: auto;display: flexbox;">
                            
                            <p style="padding-left: 30px;">Text position</p>
                            <select type="number" id="text_edit_box_text_position" class='form-control w3-margin' style="width: 93%;">
                                <option value="left">Left</option>
                                <option value="center">Middle</option>
                                <option value="right">Right</option>
                            </select>

                        </span>

                    
                    </div>

                    <br />
                    <div style="width: auto;height: auto;margin: 0px; display:flex;">
                        <span style="margin: 0px; width:33%; height: auto;display: flexbox;">
                            <p> Text color</p>
                            <input type="color" id="text_edit_box_color_pick" class="form-control w3-margin" style="width: 93%;height: 30px;">
                        </span>

                        <span style="margin: 0px; width:33%; height: auto;display: flexbox;">
                            <p style="padding-left: 30px;">Text weight</p>
                            <select id="text_edit_box_font_weight" class="form-control w3-margin" style="width: 93%;height: auto">
                                <option value="100" style="font-weight:100">Thin, Extra-light</option>
                                <option value="200" style="font-weight:200">Light</option>
                                <option value="300" style="font-weight:300">Book</option>
                                <option value="400" style="font-weight:400">Regular, Normal</option>
                                <option value="500" style="font-weight:500">Medium</option>
                                <option value="600" style="font-weight:600">Semi-bold, Demi-bold</option>
                                <option value="700" style="font-weight:700">Bold</option>
                                <option value="800" style="font-weight:800">Heavy, Extra-bold</option>
                                <option value="900" style="font-weight:900">Ultra-bold, Fat, Poster</option>
                            </select>
                        </span>

                        <span style="margin: 0px; width:33%; height: auto;display: flexbox;">
                            <p style="padding-left: 30px;"> Page color</p>
                            <input type="color" id="text_edit_page_color_pick" class="form-control w3-margin" style="width: 93%;height: 30px;">
                        </span>
                    </div>

                    <br />

                    <div style="width: auto;height: auto;margin: 0px; display:flex;">

                        <span style="margin: 0px; width:33%; height: auto;display: flexbox;">

                            <p > Text type</p>
                            <a href="#" onclick='show_hide("line_component_edit_container"); show_hide("space_component_edit_container"); show_hide("text_edit_container"); show_hide("font_upload_container", "show")' style="width: auto;height:auto;margin: 0px;font-size: 12px;color: blue;">Upload your font : click here</a>
                            <select class="form-control w3-margin" id="text_edit_box_font_type" style="width: 93%;">
                                <option default value=''>Choose</option>
                            </select>

                        </span>

                        <span style="margin: 0px; width:33%; height: auto;display: flexbox;">
                            <div style="height: 36px;width: 100%;margin: 0px;"></div>
                            <p style="padding-left: 30px;"> Text decoration</p>
                            <select class="form-control w3-margin" id="text_edit_box_font_decoration" style="width: 93%;">
                                <option default value='none' style="text-decoration-line: none;">none</option>
                                <option default value='overline' style="text-decoration-line: overline;">overline</option>
                                <option default value='underline' style="text-decoration-line: underline;">underline</option>
                                <option default value='line-through' style="text-decoration-line: line-through;">line through</option>
                            </select>
                        
                        </span>


                        <span style="margin: 0px; width:33%; height: auto;display: flexbox;">
                            <div style="height: 36px;width: 100%;margin: 0px;"></div>
                            <p style="padding-left: 30px;"> Text style</p>
                            <select class="form-control w3-margin" id="text_edit_box_font_style" style="width: 93%;">
                                <option default value='italic' style="font-style: italic;">italic</option>
                                <option default value='oblique' style="font-style: oblique;">oblique</option>
                                <option default value='normal' style="font-style: normal;">normal</option>
                            </select>
                        
                        </span>

                    </div>
                    




                    <p> Text back ground color</p>
                    <input type="color" id="text_edit_box_text_background_color" class="form-control w3-margin" style="width: 93%; height: 30px;">

                </div>

                <!-- delete / save buttons -->
                <button onclick="element_edit_delete('text_element')" class="btn btn-danger w3-margin" style="width: 42.5%;">Delete</button>
                <button onclick="show_hide('text_edit_container');component_text_edit_save()" class="btn btn-primary w3-margin" style="width: 46%;">Save</button>

            </div>

            <!-- ------------- line component edit ------------ -->
            <div id='line_component_edit_container' class='w3-card w3-border w3-white' style='width: 650px; height:auto; position: fixed;left:0; right:0; margin:0 auto;display: none;'>

                <!-- close button -->
                <button onclick="show_hide('line_component_edit_container')" class="btn btn-success w3-margin" style="width: 10%;height: auto; float:right"><i class='la la-close' style="width: auto;text-align: center;"></i></button>

                <div style="width: 630px;display: flex-box;margin: auto;" class='w3-margin' id="text_edit_box">
                    <p>Change line color</p>
                    <input type="color" id="line_component_edit_container_line_color" class="form-control w3-margin" style="width: 93%; height: 30px;">

                    <br />
                    <p>Select line style</p>
                    <select id="line_component_edit_container_line_style" class="form-control w3-margin" style="width: 93%; height: auto;" onchange="document.getElementById('line_component_edit_container_line_style_example').style.borderBottom = '2px ' + this.value ">
                        <option  default value='solid' >Solid</option>
                        <option value='dotted' >Dotted</option>
                        <option  value='dashed' '>Dashed</option>
                        <option  value='double' >Double</option>
                        <option value='groove' >Groove</option>
                        <option  value='none' >None</option>
                    </select>
                    
                    <div id="line_component_edit_container_line_style_example" class="w3-margin " style="width: 93%; height: 10px"></div>
                    
                    <!-- delete / save buttons -->
                    <button onclick="$('#' + selected_div.replace(/[a,b,c]/,'') + 'container').remove();show_hide('line_component_edit_container')" class="btn btn-danger w3-margin" style="width: 42.5%;">Delete</button>
                    <button onclick="show_hide('line_component_edit_container')" class="btn btn-primary w3-margin" style="width: 46%;">Save</button>

                </div>

            </div>
            <!-- ------------- separator component edit ------------ -->
            <div id='separator_component_edit_container' class='w3-card w3-border w3-white' style='width: 650px; height:auto; position: fixed;left:0; right:0; margin:0 auto;display: none;'>

                <!-- close button -->
                    <button onclick="show_hide('separator_component_edit_container')" class="btn btn-success w3-margin" style="width: 10%;height: auto;position: relative; right:-85%"><i class='la la-close' style="width: auto;text-align: center;"></i></button>
                

                    <div style="width: 630px;margin: auto;" class='' id="">
                        <p style="width: auto;height: auto;margin: 0px;">Set separator size</p>
                        <input type="number" class="form-control w3-margin" style="width: 95%;display:flexbox;" id='separator_component_separator_size'>
                    
                    <hr />
                    <p style="width: auto;height: auto;margin: 0px;">Separator types</p>
                    <div style="width: auto;height: auto;margin: 0px;display: flex">
                        <input type="text" class="form-control w3-margin" style="width: 63%;display:flexbox;" placeholder="Type your separator." id='separator_component_input'>
                        <button style="width: 33%;display: flexbox;" class='btn btn-primary w3-margin' onclick="separator_component_edit_save(document.getElementById('separator_component_input').value)">Use</button>
                    </div>

                    <div style="width: auto;height: auto;margin: 0px;display: flex">
                        <select class="form-control w3-margin" style="width: 63%;display:flexbox;" id="separator_component_option_1">
                            <option value="1)">1)</option>
                            <option value="2)">2)</option>
                            <option value="3)">3)</option>
                            <option value="4)">4)</option>
                            <option value="5)">5)</option>
                            <option value="6)">6)</option>
                            <option value="7)">7)</option>
                            <option value="8)">8)</option>
                            <option value="9)">9)</option>
                            <option value="10)">10)</option>
                        </select>
                        <button style="width: 33%;display: flexbox;" class='btn btn-primary w3-margin' onclick="separator_component_edit_save(document.getElementById('separator_component_option_1').value)">Choose</button>
                    </div>

                    <div style="width: auto;height: auto;margin: 0px;display: flex">
                        <select class="form-control w3-margin" style="width: 63%;display:flexbox;" id="separator_component_option_2">
                            <option value="i)">i)</option>
                            <option value="ii)">ii)</option>
                            <option value="iii)">iii)</option>
                            <option value="iv">iv)</option>
                            <option value="v)">v)</option>
                            <option value="vi)">vi)</option>
                        </select>
                        <button style="width: 33%;display: flexbox;" class='btn btn-primary w3-margin' onclick="separator_component_edit_save(document.getElementById('separator_component_option_2').value)">Choose</button>
                    </div>

                    <div style="width: auto;height: auto;margin: 0px;display: flex">
                        <select class="form-control w3-margin" style="width: 63%;display:flexbox;" id="separator_component_option_3">
                            <option value=":">:</option>
                            <option value="=>">=></option>
                            <option value="-">-</option>
                            <option value=">">></option>
                            <option value="#">#</option>
                            <option value="->">-></option>
                            <option value="*">*</option>
                            <option value="+">+</option>
                            <option value="a">a</option>
                            <option value="b">b</option>
                        </select>
                        <button style="width: 33%;display: flexbox;" class='btn btn-primary w3-margin' onclick="separator_component_edit_save(document.getElementById('separator_component_option_3').value)">Choose</button>
                    </div>

                    <div style="width: auto;height: auto;margin: 0px;display: flex">
                        <select class="form-control w3-margin" style="width: 63%;display:flexbox;" id="separator_component_option_4">
                            <option value="a)">a)</option>
                            <option value="b)">b)</option>
                            <option value="c)">c)</option>
                            <option value="d)">d)</option>
                            <option value="e)">e)</option>
                            <option value="f)">f)</option>
                            <option value="g)">g)</option>
                            <option value="h)">h)</option>
                            <option value="i)">i)</option>
                            <option value="j)">j)</option>
                        </select>
                        <button style="width: 33%;display: flexbox;" class='btn btn-primary w3-margin' onclick="separator_component_edit_save(document.getElementById('separator_component_option_4').value)">Choose</button>
                    </div>

                    
                    <div style="width: auto;height: auto;margin: 0px;display: flex">
                        <button class="btn w3-margin" onclick="separator_component_edit_save(`<i class='la la-angle-right'></i>`)"><i class='la la-angle-right' style="font-size: 20px;" ></i></button>
                        <button class="btn w3-margin" onclick="separator_component_edit_save(`<i class='la la-arrow-right'></i>`)"><i class='la la-arrow-right' style="font-size: 20px;" ></i></button>
                        <button class="btn w3-margin" onclick="separator_component_edit_save(`<i class='la la-play'></i>`)"><i class='la la-play' style="font-size: 20px;" ></i></button>
                        <button class="btn w3-margin" onclick="separator_component_edit_save(`<i class='la la-chevron-right'></i>`)"><i class='la la-chevron-right' style="font-size: 20px;" ></i></button>
                    </div>

                    

                </div>
                <!-- clear / save buttons -->
                <div style="width: 630px;display: flex;margin: auto;" class='w3-margin' id="text_edit_box">
                    
                    <button onclick="document.getElementById(selected_div).innerHTML='';show_hide('separator_component_edit_container')" class="btn btn-danger w3-margin" style="width: 42.5%;">Clear box</button>
                </div>

            </div>


            <!-- ------------- space component edit ------------ -->
            <div id='space_component_edit_container' class='w3-card w3-border w3-white' style='width: 650px; height:auto; position: fixed;left:0; right:0; margin:0 auto;display: none;'>

                <!-- close button -->
                <button onclick="show_hide('space_component_edit_container')" class="btn btn-success w3-margin" style="width: 10%;height: auto; float:right"><i class='la la-close' style="width: auto;text-align: center;"></i></button>

                <!-- delete / save buttons -->
                <div style="width: 630px;display: flex-box;margin: auto;" class='w3-margin' id="text_edit_box">
                    
                    <button onclick="$('#' + selected_div.replace(/[a,b,c]/,'') + 'container').remove();show_hide('space_component_edit_container')" class="btn btn-danger w3-margin" style="width: 42.5%;">Delete</button>
                </div>
            </div>
            
            <!-- ------------- space component edit ------------ --
            <div id='space_component_edit_container' class='w3-card w3-border w3-white' style='width: 650px; height:auto; position: fixed;top:15vh;left:9%;display: none;'>

                <-- close button --
                <button onclick="show_hide('space_component_edit_container')" class="btn btn-success w3-margin" style="width: 10%;height: auto; float:right"><i class='la la-close' style="width: auto;text-align: center;"></i></button>

                <-- delete / save buttons --
                <div style="width: 630px;display: flex-box;margin: auto;" class='w3-margin' id="text_edit_box">
                    
                    <button onclick="$('#' + selected_div.replace(/[a,b,c]/,'') + 'container').remove();show_hide('space_component_edit_container')" class="btn btn-danger w3-margin" style="width: 42.5%;">Delete</button>
                </div>
            </div>
            -->

            <!-- ------------- space component edit ------------ --
            <div id='space_component_edit_container' class='w3-card w3-border w3-white' style='width: 650px; height:auto; position: fixed;top:15vh;left:9%;display: none;'>

                <-- close button --
                <button onclick="show_hide('space_component_edit_container')" class="btn btn-success w3-margin" style="width: 10%;height: auto; float:right"><i class='la la-close' style="width: auto;text-align: center;"></i></button>

                <-- delete / save buttons --
                <div style="width: 630px;display: flex-box;margin: auto;" class='w3-margin' id="text_edit_box">
                    
                    <button onclick="$('#' + selected_div.replace(/[a,b,c]/,'') + 'container').remove();show_hide('space_component_edit_container')" class="btn btn-danger w3-margin" style="width: 42.5%;">Delete</button>
                </div>
            </div>
        -->

            <!-- ------------- font upload  ------------ -->
            <div id='font_upload_container' class='w3-card w3-border w3-white' style='width: 650px; height:auto; position: fixed;left:0; right:0; margin:0 auto;display: none;'>
                
                <!-- close button -->
                <button onclick="show_hide('font_upload_container')" class="btn btn-success w3-margin" style="width: 10%;height: auto; float:right"><i class='la la-close' style="width: auto;text-align: center;"></i></button>

                <!-- delete / save buttons -->
                <div style="width: 630px;display: flex-box;margin: auto;" class='' id="text_edit_box">
                    <p style="margin: 0px; display: flexbox;width: auto;height: auto;">Upload font.</p>
                    <input type="file" class="form-control" placeholder="Upload font" id='font_upload_input' accept=".ttf, .woff, .woff2, .otf, .svg, .eot">
                    <button onclick="show_hide('font_upload_container'); font_upload_fn()" class="btn btn-primary w3-margin" style="width: 42.5%;">Save</button>
                </div>
            </div>
            

            <!-- ------------- menu/loading option container ------------ -->
            <div id='menu_or_loading_options_container' class='w3-card w3-border w3-white' style='width: 650px; height:auto; position: fixed;left:0; right:0; margin:0 auto;display: none;'>
                
                <!-- close button -->
                <div style="width: 100%;height: auto;" class="w3-block w3-margin;">
                    <button onclick="show_hide('menu_or_loading_options_container')" class="btn btn-success" style="width: 10%;height: auto; float:right"><i class='la la-close' style="width: auto;text-align: center;"></i></button>
                </div>

                <!-- options container div-->
                <div style='width: 617px; height:auto;' class="w3-margin " id="menu_or_loading_options_option_menu"></div>


                    <!-- 
                        <span style="width: 45%;height: 60px;" class="w3-margin"> </span>
                        <span style="width: 45%;height: 60px;" class="w3-margin"> </span>
                    -->
                
            </div>

           
            

            <!-- ---------------  CV  ------------------ -->
            <div id='Cv_1_content_container' style="width: 100%;height: auto; margin-top:0px">
            
            
            
                
            
            </div>
            <!-- --------------- add cv compont  --------------------- -->
            <button class='w3-block btn' onclick="document.getElementById('component_select_container').style.display='block'" id="cv_resume_1_component_add_button"><i class='la la-plus'></i></button>

        

            
            
            


            
            
            <!-- printed page breaks -->
            <!-- 
            This is the text for page #1.

            <p style="page-break-before: always">

            Page #2...

            <p style="page-break-before: always">

            Page #3...

            -->




            <!--- scripts --->
            <script src="site/jquery-3.4.1.min.js" defer></script><!-- jquery-->
            <script src="site/index.js" defer></script><!-- javascript -->
    </section>
    </body>   
</html>